.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0px 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #9575cd;
    border-radius: .3rem;
    color: floralwhite;
}

/* .address{
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
} */
