.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0px 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #9575cd;
    border-radius: .3rem;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}

body {
    padding-top: 50px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512da8;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.carousel {
    background-color: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}